<style>
.glyphicon {
	margin-right: 5px;
}

.thumbnail {
	margin-bottom: 20px;
	padding: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.item.list-group-item {
	float: none;
	width: 100%;
	background-color: #fff;
	margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover
	{
	background: #428bca;
}

.item.list-group-item .list-group-image {
	margin-right: 10px;
}

.item.list-group-item .thumbnail {
	margin-bottom: 0px;
}

.item.list-group-item .caption {
	padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
	background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
	display: table;
	content: " ";
}

.item.list-group-item img {
	float: left;
}

.item.list-group-item:after {
	clear: both;
}

.list-group-item-text {
	margin: 0 0 11px;
}
</style>

<script>
	$(document).ready(function() {

		$('#list').click(function(event) {
			event.preventDefault();
			$('#products .item').addClass('list-group-item');
		});

		$('#grid').click(function(event) {
			event.preventDefault();
			$('#products .item').removeClass('list-group-item');
			$('#products .item').addClass('grid-group-item');
		});

	});
</script>

<div class="container" ng-controller="productslist">

	<div class="well well-sm">

		<strong>Category Title</strong>

		<div class="btn-group">

			<a href="#" id="list" class="btn btn-default btn-sm"><span
				class="glyphicon glyphicon-th-list"> </span>List</a> <a href="#"
				id="grid" class="btn btn-default btn-sm"><span
				class="glyphicon glyphicon-th"></span>Grid</a>

		</div>

	</div>

	<div id="products" class="row list-group">

		<div class="item  col-xs-4 col-lg-4" ng-repeat="product in products">

			<div class="thumbnail">

				<img class="group list-group-image"
					src="https://slimages.macysassets.com/is/image/MCY/products/7/optimized/8714527_fpx.tif?bgc=255,255,255&wid=224&qlt=90,0,0&layer=comp&op_sharpen=0&resMode=bicub&op_usm=0.7,1.0,0.5,0&fmt=jpeg"
					alt="" />

				<div class="caption">

					<h4 class="group inner list-group-item-heading" ng-model="pT1">{{product.productName}}</h4>

					<p class="group inner list-group-item-text">{{product.description}}</p>

					<div class="row">

						<div class="col-xs-12 col-md-6">

							<p class="lead" ng-model="price">${{product.productPrice}}</p>

						</div>

						<div class="col-xs-12 col-md-6">

							<!--  <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a> -->

							<button type="button" class="btn btn-success btn-md"
								data-toggle="modal" data-target="#myModal">Watch</button>

							<div class="modal fade" id="myModal" role="dialog">

								<div class="modal-dialog">



									<!-- Modal content-->

									<div class="modal-content">

										<div class="modal-header">

											<button type="button" class="close" data-dismiss="modal">&times;</button>

											<h4 class="modal-title">Product watcher</h4>

										</div>

										<div class="modal-body">

											<span class='' id=''>Product name: </span> <span class=""
												id=''>Men casual brown and grey color shirt</span> <br>

											<span class="" id="">Price:</span><input type="number"
												class="" id="" value="99" /><br> <span class="" id="">Price

												range:</span><br> <span class="" id="">From</span> <input
												type="number" class="" id="" value="99" /> <span class=""
												id="">To</span><input type="number" class="" id=""
												value="99" /><br> <span class="" id="">Limited

												days:</span><input type="number" class="" id="" value="99" /><br>

											<span class="" id="">Email:</span><input type="email"
												class="" id="" value="test@nisum.com"><br> <input
												type="submit" class="" id="" value="Watch" />

										</div>

										<div class="modal-footer">

											<button type="button" class="btn btn-default"
												data-dismiss="modal">Close</button>

										</div>

									</div>



								</div>

							</div>



						</div>

					</div>

				</div>

			</div>

		</div>

		<!-- <div class="item  col-xs-4 col-lg-4">

			<div class="thumbnail">

				<img class="group list-group-image"
					src="https://slimages.macysassets.com/is/image/MCY/products/7/optimized/8714527_fpx.tif?bgc=255,255,255&wid=224&qlt=90,0,0&layer=comp&op_sharpen=0&resMode=bicub&op_usm=0.7,1.0,0.5,0&fmt=jpeg"
					alt="" />

				<div class="caption">

					<h4 class="group inner list-group-item-heading">Product title</h4>

					<p class="group inner list-group-item-text">Product

						description... Lorem ipsum dolor sit amet, consectetuer adipiscing

						elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore

						magna aliquam erat volutpat.</p>

					<div class="row">

						<div class="col-xs-12 col-md-6">

							<p class="lead">$21.000</p>

						</div>

						<div class="col-xs-12 col-md-6">

							<a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>

							<a class="btn btn-success" href="http://www.jquery2dotnet.com">Watch</a>

						</div>

					</div>

				</div>

			</div>

		</div> -->

		<!-- <div class="item  col-xs-4 col-lg-4">

			<div class="thumbnail">

				<img class="group list-group-image"
					src="https://slimages.macysassets.com/is/image/MCY/products/7/optimized/8714527_fpx.tif?bgc=255,255,255&wid=224&qlt=90,0,0&layer=comp&op_sharpen=0&resMode=bicub&op_usm=0.7,1.0,0.5,0&fmt=jpeg"
					alt="" />

				<div class="caption">

					<h4 class="group inner list-group-item-heading">Product title</h4>

					<p class="group inner list-group-item-text">Product

						description... Lorem ipsum dolor sit amet, consectetuer adipiscing

						elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore

						magna aliquam erat volutpat.</p>

					<div class="row">

						<div class="col-xs-12 col-md-6">

							<p class="lead">$21.000</p>

						</div>

						<div class="col-xs-12 col-md-6">

							 <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>

							<a class="btn btn-success" href="http://www.jquery2dotnet.com">Watch</a>

						</div>

					</div>

				</div>

			</div>

		</div> -->

		<!-- <div class="item  col-xs-4 col-lg-4">

			<div class="thumbnail">

				<img class="group list-group-image"
					src="https://slimages.macysassets.com/is/image/MCY/products/7/optimized/8714527_fpx.tif?bgc=255,255,255&wid=224&qlt=90,0,0&layer=comp&op_sharpen=0&resMode=bicub&op_usm=0.7,1.0,0.5,0&fmt=jpeg"
					alt="" />

				<div class="caption">

					<h4 class="group inner list-group-item-heading">Product title</h4>

					<p class="group inner list-group-item-text">Product

						description... Lorem ipsum dolor sit amet, consectetuer adipiscing

						elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore

						magna aliquam erat volutpat.</p>

					<div class="row">

						<div class="col-xs-12 col-md-6">

							<p class="lead">$21.000</p>

						</div>

						<div class="col-xs-12 col-md-6">

							<a class="btn btn-success" href="http://www.jquery2dotnet.com">Add

								to cart</a> <a class="btn btn-success"
								href="http://www.jquery2dotnet.com">Watch</a>

						</div>

					</div>

				</div>

			</div>

		</div> -->
<!-- 
		<div class="item  col-xs-4 col-lg-4">

			<div class="thumbnail">

				<img class="group list-group-image"
					src="https://slimages.macysassets.com/is/image/MCY/products/7/optimized/8714527_fpx.tif?bgc=255,255,255&wid=224&qlt=90,0,0&layer=comp&op_sharpen=0&resMode=bicub&op_usm=0.7,1.0,0.5,0&fmt=jpeg"
					alt="" />

				<div class="caption">

					<h4 class="group inner list-group-item-heading">Product title</h4>

					<p class="group inner list-group-item-text">Product

						description... Lorem ipsum dolor sit amet, consectetuer adipiscing

						elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore

						magna aliquam erat volutpat.</p>

					<div class="row">

						<div class="col-xs-12 col-md-6">

							<p class="lead">$21.000</p>

						</div>

						<div class="col-xs-12 col-md-6">

							<a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>

							<a class="btn btn-success" href="http://www.jquery2dotnet.com">Watch</a>

						</div>

					</div>

				</div>

			</div>

		</div> -->

		<!-- <div class="item  col-xs-4 col-lg-4">

			<div class="thumbnail">

				<img class="group list-group-image"
					src="https://slimages.macysassets.com/is/image/MCY/products/7/optimized/8714527_fpx.tif?bgc=255,255,255&wid=224&qlt=90,0,0&layer=comp&op_sharpen=0&resMode=bicub&op_usm=0.7,1.0,0.5,0&fmt=jpeg"
					alt="" />

				<div class="caption">

					<h4 class="group inner list-group-item-heading">Product title</h4>

					<p class="group inner list-group-item-text">Product

						description... Lorem ipsum dolor sit amet, consectetuer adipiscing

						elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore

						magna aliquam erat volutpat.</p>

					<div class="row">

						<div class="col-xs-12 col-md-6">

							<p class="lead">$21.000</p>

						</div>

						<div class="col-xs-12 col-md-6">

							<a class="btn btn-success" href="http://www.jquery2dotnet.com">Add

								to cart</a> <a class="btn btn-success"
								href="http://www.jquery2dotnet.com">Watch</a>

						</div>

					</div>

				</div>

			</div>

		</div> -->

	</div>

</div>